<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DCmsPeopleMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DCmsPeople">
    <result column="PEOPLE_ID" jdbcType="VARCHAR" property="peopleId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>


  <insert id="insertPeopleList" parameterType="list">
    insert into d_cms_people (PEOPLE_ID,USER_ID)
    <foreach collection="list" item="item" index="index" separator="union all">
      select
      #{item.peopleId},
      #{item.userId}
      from dual
    </foreach>
  </insert>
  <delete id="delpeopelById" parameterType="String">
    delete from d_cms_people where PEOPLE_ID = #{dataId}
  </delete>

  <select id="selectPeoList" parameterType="String" resultMap="BaseResultMap">
    select PEOPLE_ID,USER_ID from d_cms_people where PEOPLE_ID = #{dataId}
  </select>
</mapper>