<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.DMatchTypeDetailInfoMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.DMatchTypeDetailInfo">
    <id column="MATCH_TYPE_DETAIL_ID" jdbcType="VARCHAR" property="matchTypeDetailId" />
    <result column="MATCH_TITLE" jdbcType="VARCHAR" property="matchTitle" />
    <result column="MATCH_TYPE_ID" jdbcType="VARCHAR" property="matchTypeId" />
    <result column="MATCH_TYPE_NAME" jdbcType="VARCHAR" property="matchTypeName" />
    <result column="MATCH_STICK_FLAG" jdbcType="VARCHAR" property="matchStickFlag" />
    <result column="MATCH_STATE" jdbcType="VARCHAR" property="matchState" />
    <result column="MATCH_CREATE_TIME" jdbcType="VARCHAR" property="matchCreateTime" />
    <result column="MATCH_DETAILS" jdbcType="BLOB" property="matchDetails" />
      <result column="MATCH_SUBTITLE" jdbcType="VARCHAR" property="matchSubtitle" />
  </resultMap>


  <sql id="Base_Column_List">
    MATCH_TYPE_DETAIL_ID, MATCH_TITLE, MATCH_TYPE_ID,
    MATCH_STICK_FLAG, MATCH_STATE, MATCH_CREATE_TIME,MATCH_DETAILS,MATCH_SUBTITLE
  </sql>



  <select id="queryMatchDetailType" parameterType="com.macro.mall.model.DMatchTypeDetailInfo" resultMap="BaseResultMap">
    select
    MATCH_TYPE_DETAIL_ID, MATCH_TITLE,MATCH_SUBTITLE,
     MATCH_TYPE_ID,(SELECT MATCH_TYPE_NAME FROM D_MATCH_TYPE_INFO d WHERE d.MATCH_TYPE_ID=t.MATCH_TYPE_ID
    ) as MATCH_TYPE_NAME,
    MATCH_STICK_FLAG, MATCH_STATE, MATCH_CREATE_TIME,MATCH_DETAILS
    from D_MATCH_TYPE_DETAIL_INFO t
    <where>
      <if test="matchTitle!=null and matchTitle!=''">
        and MATCH_TITLE like
        '%'||#{matchTitle,jdbcType=VARCHAR}||'%'
      </if>
      <if test="matchTypeId!=null and matchTypeId!=''">
        and MATCH_TYPE_ID = #{matchTypeId,jdbcType=VARCHAR}
      </if>
    </where>
    order by MATCH_STICK_FLAG,MATCH_CREATE_TIME desc
  </select>

  <select id="queryMatchDetailType2" parameterType="com.macro.mall.model.DMatchTypeDetailInfo" resultMap="BaseResultMap">
    select
    MATCH_TYPE_DETAIL_ID, MATCH_TITLE,MATCH_SUBTITLE,
    MATCH_TYPE_ID,(SELECT MATCH_TYPE_NAME FROM D_MATCH_TYPE_INFO d WHERE d.MATCH_TYPE_ID=t.MATCH_TYPE_ID
    ) as MATCH_TYPE_NAME,
    MATCH_STICK_FLAG, MATCH_STATE, MATCH_CREATE_TIME,MATCH_DETAILS
    from D_MATCH_TYPE_DETAIL_INFO t
    where  t.MATCH_STATE='0'
      <if test="matchTitle!=null and matchTitle!=''">
        and MATCH_TITLE like
        '%'||#{matchTitle,jdbcType=VARCHAR}||'%'
      </if>
      <if test="matchTypeId!=null and matchTypeId!=''">
        and MATCH_TYPE_ID = #{matchTypeId,jdbcType=VARCHAR}
      </if>
    order by MATCH_STICK_FLAG,MATCH_CREATE_TIME desc
  </select>



  <select id="queryMatchDetailTypeInfo"  parameterType="String" resultMap="BaseResultMap">
    select
    MATCH_TYPE_DETAIL_ID, MATCH_TITLE,MATCH_SUBTITLE,
    MATCH_TYPE_ID,(SELECT MATCH_TYPE_NAME FROM D_MATCH_TYPE_INFO d WHERE d.MATCH_TYPE_ID=t.MATCH_TYPE_ID
    ) as MATCH_TYPE_NAME,
    MATCH_STICK_FLAG, MATCH_STATE, MATCH_CREATE_TIME,MATCH_DETAILS
    from D_MATCH_TYPE_DETAIL_INFO t
    where t.MATCH_TITLE = #{matchTitle,jdbcType=VARCHAR}
        order by MATCH_STICK_FLAG,MATCH_CREATE_TIME desc
  </select>



  <select id="queryMatchDetailType1" parameterType="com.macro.mall.model.DMatchTypeDetailInfo" resultMap="BaseResultMap">
    select
    MATCH_TYPE_DETAIL_ID, MATCH_TITLE,MATCH_SUBTITLE,
    MATCH_TYPE_ID,(SELECT MATCH_TYPE_NAME FROM D_MATCH_TYPE_INFO d WHERE d.MATCH_TYPE_ID=t.MATCH_TYPE_ID
    ) as MATCH_TYPE_NAME,
    MATCH_STICK_FLAG, MATCH_STATE, MATCH_CREATE_TIME,MATCH_DETAILS
    from D_MATCH_TYPE_DETAIL_INFO t
    <where>
      <if test="matchTitle!=null and matchTitle!=''">
        and MATCH_TITLE = #{matchTitle,jdbcType=VARCHAR}
      </if>
      <if test="matchTypeId!=null and matchTypeId!=''">
        and MATCH_TYPE_ID = #{matchTypeId,jdbcType=VARCHAR}
      </if>
    </where>
    order by MATCH_STICK_FLAG,MATCH_CREATE_TIME desc
  </select>

  <delete id="deleteMatchDetailType" parameterType="java.lang.String">
    delete from D_MATCH_TYPE_DETAIL_INFO
    where MATCH_TYPE_DETAIL_ID = #{matchTypeDetailId,jdbcType=VARCHAR}
  </delete>


  <insert id="insertMatchDetailType" parameterType="com.macro.mall.model.DMatchTypeDetailInfo">
    insert into D_MATCH_TYPE_DETAIL_INFO (MATCH_TYPE_DETAIL_ID, MATCH_TITLE,
      MATCH_TYPE_ID,  MATCH_STICK_FLAG,
      MATCH_STATE, MATCH_CREATE_TIME, MATCH_DETAILS,MATCH_SUBTITLE
      )
    values (sys_guid(), #{matchTitle,jdbcType=VARCHAR},
      #{matchTypeId,jdbcType=VARCHAR}, #{matchStickFlag,jdbcType=VARCHAR},
      #{matchState,jdbcType=VARCHAR}, to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'), #{matchDetails,jdbcType=BLOB},
       #{matchSubtitle,jdbcType=VARCHAR}
      )
  </insert>



  <update id="updateMatchDetailType" parameterType="com.macro.mall.model.DMatchTypeDetailInfo">
    update D_MATCH_TYPE_DETAIL_INFO
    <set>
      <if test="matchTitle != null and matchTitle != ''">
        MATCH_TITLE = #{matchTitle,jdbcType=VARCHAR},
      </if>
      <if test="matchTypeId != null and matchTypeId!=''">
        MATCH_TYPE_ID = #{matchTypeId,jdbcType=VARCHAR},
      </if>
      <if test="matchStickFlag != null and matchStickFlag!=''">
        MATCH_STICK_FLAG = #{matchStickFlag,jdbcType=VARCHAR},
      </if>
      <if test="matchState != null and matchState!=''">
        MATCH_STATE = #{matchState,jdbcType=VARCHAR},
      </if>
      <if test="matchDetails != null and matchDetails!=''">
        MATCH_DETAILS = #{matchDetails,jdbcType=BLOB},
      </if>
        <if test="matchSubtitle != null and matchSubtitle != ''">
            MATCH_SUBTITLE = #{matchSubtitle,jdbcType=VARCHAR},
        </if>
    </set>
    where MATCH_TYPE_DETAIL_ID = #{matchTypeDetailId,jdbcType=VARCHAR}
  </update>


</mapper>